@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Typewriter effect */
.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
  padding-right: 5px;
}

/* Media query to disable typing animation on screens smaller than 412px */
@media (max-width: 411px) {
  .typing-animation {
    font-size: 0.78rem;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.btn {
  @apply px-4 py-2 bg-blue-500 text-white font-semibold rounded-md shadow hover:bg-blue-600 transition duration-200;
}
